.img-pr {
  width: 1000px;
  position: absolute;
  top: 0;
  left: -300px;
  rotate: 15deg;
  filter: grayscale(100%);
  --webkit-filter: grayscale(100%);
  opacity: 0.7;

  @media (max-width: 780px) {
    display: none;
  }
}
