$bg-clr: #2c2a2a;

.brief {
  height: 140vh;
  background: linear-gradient($bg-clr, #1f1c0f);
  overflow: hidden;
  padding: 10rem 0;
  &__wrapper {
    max-width: 75rem;
    padding: 30px 20px;
    margin: auto;
    &__bg-text {
      display: grid;
      grid-template-columns: 1fr;

      .first-section,
      .second-section {
        width: 100%;
        color: #f8df52;

        h1 {
          font-size: 7.063rem;
          text-transform: capitalize;
          font-weight: 200;
        }
      }

      .second-section {
        position: relative;
        h1 {
          font-weight: 700;
          position: absolute;
          left: 40%;
        }
      }
    }

    &__main {
      margin-top: 15rem;
      display: grid;
      grid-template-columns: 40% 60%;
      align-items: flex-start;
      height: 100%;

      .first-sec {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        .circle-text {
          height: 200px;
          width: 200px;
          background-color: #9c8500;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-radius: 50%;

          h1 {
            font-weight: 200;
            margin-right: 10px;
          }
        }

        .main-text {
          margin-left: 10px;
          color: #ffffff;
        }
      }

      .second-sec {
        color: #b9af76;
        line-height: 1.7;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        text-align: justify;

        .text-one {
          font-weight: 500;
        }

        .text-two {
          margin-top: 30px;
        }

        .btn {
          margin-top: 3rem;
          a {
            background-color: transparent;
            color: #9c8500 !important;
            padding: 20px 30px;
            font-size: 1rem;
            text-decoration: none;
            border: 2px solid #9c8500;
          }
        }
      }
    }
  }

  .core-values {
    background-color: #9c8500;
    margin-top: 2.5rem;
    padding: 1rem 1.4rem;

    overflow: hidden;

    .move {
      display: flex;
      column-gap: 2rem;
      animation: move 10s linear infinite;
      transform: translateX(120%);
      h1 {
        text-transform: capitalize;
        letter-spacing: 1px;
        font-weight: 500 !important;
        font-size: 2.5rem;
      }
    }
  }
}

.brand-str {
  position: absolute;
  opacity: 0.1;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 15rem !important;
  -webkit-text-stroke-color: #f8df52;
  mix-blend-mode: lighten;
  color: transparent !important;
  -webkit-text-stroke-width: 0.002px;
  font-weight: 800;
}
@keyframes move {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 567px) {
  .brief {
    padding-top: calc(60px / 16px) + rem;
    padding-bottom: 3rem;
    padding-top: 7rem;
    height: fit-content;
    &__wrapper {
      padding: 0 20px;

      &__bg-text {
        .first-section,
        .second-section {
          h1 {
            font-size: 45px;
          }
        }
        .second-section {
          background-color: rgb(69, 102, 74) !important;

          h1 {
            left: 40%;
          }
        }
      }

      &__main {
        grid-template-columns: 1fr;
        margin-top: 6rem;
        align-items: flex-start !important;
        .first-sec {
          justify-content: flex-start;
          .circle-text {
            width: 120px;
            height: 120px;

            h1 {
              font-size: 1rem;
            }
          }
        }

        .second-sec {
          margin-top: 30px;
          font-size: 0.8rem;
          text-align: justify;
          line-height: 2;
        }
      }
    }
  }
}

@media (min-width: 567px) and (max-width: 667px) {
  .brief {
    padding-top: calc(60px / 16px) + rem;
    padding-bottom: 20px;
    height: fit-content;
    &__wrapper {
      padding: 0 20px;

      &__bg-text {
        .first-section,
        .second-section {
          h1 {
            font-size: 70px;
          }
        }
        .second-section {
          background-color: rgb(69, 102, 74) !important;

          h1 {
            left: 50%;
          }
        }
      }

      &__main {
        grid-template-columns: 1fr;
        margin-top: 6rem;
        align-items: flex-start !important;
        .first-sec {
          justify-content: flex-start;
          .circle-text {
            width: 120px;
            height: 120px;

            h1 {
              font-size: 1.3rem;
            }
          }
        }

        .second-sec {
          margin-top: 30px;
        }
      }
    }
  }
}

@media (min-width: 667px) and (max-width: 920px) {
  .brief {
    padding-top: calc(60px / 16px) + rem;
    padding-bottom: 20px;
    height: fit-content;
    &__wrapper {
      padding: 0 20px;

      &__bg-text {
        .first-section,
        .second-section {
          h1 {
            font-size: 90px;
          }
        }
        .second-section {
          background-color: rgb(69, 102, 74) !important;

          h1 {
            left: 40%;
          }
        }
      }

      &__main {
        grid-template-columns: 1fr;
        margin-top: 6rem;
        align-items: flex-start !important;
        .first-sec {
          justify-content: flex-start;
          .circle-text {
            width: 120px;
            height: 120px;

            h1 {
              font-size: 1.3rem;
            }
          }
        }

        .second-sec {
          margin-top: 30px;
        }
      }
    }
  }
}

@media (min-width: 920px) and (max-width: 1180px) {
  .brief {
    padding-top: calc(60px / 16px) + rem;
    padding-bottom: 20px;
    height: fit-content;
    &__wrapper {
      padding: 0 20px;

      &__bg-text {
        .first-section,
        .second-section {
          h1 {
            font-size: 90px;
          }
        }
        .second-section {
          background-color: rgb(69, 102, 74) !important;

          h1 {
            left: 40%;
          }
        }
      }

      &__main {
        margin-top: 6rem;
        align-items: flex-start !important;
        .first-sec {
          justify-content: flex-start;
          .circle-text {
            width: 120px;
            height: 120px;

            h1 {
              font-size: 1.3rem;
            }
          }
        }

        .second-sec {
          margin-top: 30px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .brief {
    height: fit-content;
  }
}
