//Font color for both hero and description text respectively
$hero-bg-clr: #070707;
$hero-dsc-clr: #000000;

//Font text-color for both hero and description text respectively
$hero-bg-ft: 6rem;
$hero-dsc-ft: 0.75rem;

$md-dsk: 1200px;

.h {
  height: 100vh;
  overflow: hidden;
  position: relative;
  &__wrapper {
    max-width: 75rem;
    margin: auto;
    position: relative;

    .h-value {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      &__main {
        font-size: 20px;
      }

      &__desc {
        font-size: 0.9rem;
        max-width: 400px;
        line-height: 1.5;
      }
    }

    .h-text {
      font-size: 5.5rem;
      text-align: center;
      margin-top: 3rem;
      font-weight: 500;
      .m-b {
        font-weight: 800;
      }
    }

    .h-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      .h-desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: left;
        .h-desc-main {
          font-size: 20px;
          text-align: left;
          width: 100%;
        }

        .h-desc-d {
          font-size: 0.9rem;
          max-width: 400px;
          line-height: 1.5;
          text-align: justify;
        }
      }

      .scroll {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
      }

      .start {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .start-project {
          border-radius: 50px;
          background-color: #070707;
          text-decoration: none;
          color: rgb(231, 231, 231);
          padding: 1rem 2rem;
          transition: 300ms ease;
          &:hover {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.id {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40%;
  left: -130px;
  column-gap: 0.8rem;
  transform: rotate(90deg);

  .line {
    width: calc(200px / 16px) + rem;
    background-color: rgb(27, 27, 27);
    height: 0.5px;
  }

  .title {
    font-size: 17px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-weight: 500;
  }
}

.h-overlay {
  // background: rgba(80, 80, 80, 0.363);
  // backdrop-filter: blur(2px);
  height: 200%;
  position: absolute;
  // transform: skew(20deg, 20deg);
  top: -20%;
  left: 50%;
  z-index: 2;
  width: 100%;
  animation: overlay 1s infinite;
  transition: 300ms ease;
  border-radius: 100%;
  border: 40px solid rgba(199, 199, 199, 0.274);
  pointer-events: none;
}

.animate {
  animation: scroll 2s ease-in infinite;
}

@keyframes scroll {
  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 567px) {
  .h {
    height: 100vh;
    overflow: hidden;

    &__wrapper {
      max-width: 75rem;
      margin: auto;
      position: relative;
      padding: 5px;
      .h-value {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        &__main {
          font-size: 16px;
        }

        &__desc {
          font-size: 0.6rem;
          max-width: 250px;
          line-height: 1.5;
        }
      }

      .h-text {
        font-size: calc(60px / 16px) + rem;
        text-align: center;
        margin-top: 2rem;
        font-weight: 500;
        .m-b {
          font-weight: 800;
        }
      }

      .h-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        .h-desc {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          display: none;
          text-align: left;
          .h-desc-main {
            font-size: 20px;
            text-align: left;
            width: 100%;
            color: red;
          }

          .h-desc-d {
            font-size: 0.9rem;
            max-width: 400px;
            line-height: 1.5;
            text-align: justify;
          }
        }

        .scroll {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-decoration: none;
        }

        .start {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          .start-project {
            border-radius: 50px;
            background-color: #070707;
            text-decoration: none;
            color: rgb(231, 231, 231);
            padding: 1rem 2rem;
            transition: 300ms ease;
            &:hover {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .id {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 0;
    column-gap: 0.8rem;
    .line {
      width: calc(200px / 16px) + rem;
      background-color: rgb(27, 27, 27);
      height: 0.5px;
    }

    .title {
      font-size: 17px;
      color: rgb(0, 0, 0);
      letter-spacing: 5px;
      font-weight: 500;
    }
  }

  .h-overlay {
    // background: rgba(80, 80, 80, 0.363);
    // backdrop-filter: blur(2px);
    height: 200%;
    position: absolute;
    // transform: skew(20deg, 20deg);
    top: -20%;
    left: 50%;
    z-index: 2;
    width: 100%;
    animation: overlay 1s infinite;
    transition: 300ms ease;
    border-radius: 100%;
    border: 40px solid rgba(199, 199, 199, 0.274);
    pointer-events: none;
  }

  .animate {
    animation: scroll 2s ease-in infinite;
  }
}
@media (min-width: 567px) and (max-width: 667px) {
}
@media (min-width: 667px) and (max-width: 920px) {
}
@media (min-width: 920px) and (max-width: 1180px) {
}
@media (min-width: 1200px) {
}
