//Font color for both hero and description text respectively
$hero-bg-clr: #070707;
$hero-dsc-clr: #000000;

//Font text-color for both hero and description text respectively
$hero-bg-ft: 6rem;
$hero-dsc-ft: 0.75rem;
$txt: #4d3800;
$md-dsk: 1200px;

.h {
  height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  &__wrapper {
    width: 100%;
    margin: auto;

    backdrop-filter: blur(2px);
    height: 100%;

    .h-value {
      margin-top: 6rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 10px;
      color: $txt;
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
      &__main {
        font-size: 20px;
      }

      &__desc {
        font-size: 0.9rem;
        max-width: 400px;
        line-height: 1.5;
        color: rgb(39, 39, 39);
      }
    }

    .h-text {
      font-size: 5.6rem;
      text-align: left;
      margin-top: 3rem;
      font-weight: 500;
      text-transform: capitalize;
      color: $txt;
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
      .m-b {
        font-weight: 800;
      }
    }

    .h-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 3rem;
      color: $txt;
      max-width: 75rem;
      margin-left: auto;
      margin-right: auto;
      .h-desc {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: left;
        .h-desc-main {
          font-size: 16px;
          text-align: left;
          width: 100%;
        }

        .h-desc-d {
          font-size: 0.7rem;
          max-width: 400px;
          line-height: 1.5;
          text-align: left;
        }
      }

      .scroll {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-decoration: none;
      }

      .start {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .start-project {
          border-radius: 50px;
          background-color: #252525;
          text-decoration: none;
          color: rgb(226, 226, 226);
          padding: 1rem 2rem;
          transition: 300ms ease;
          &:hover {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.id {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40%;
  left: -130px;
  column-gap: 0.8rem;
  transform: rotate(90deg);

  .line {
    width: calc(200px / 16px) + rem;
    background-color: rgb(27, 27, 27);
    height: 0.5px;
  }

  .title {
    font-size: 17px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-weight: 500;
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
  filter: saturate(70%) opacity(0.5) invert(100%);
  mix-blend-mode: overlay;
}
@media (max-width: 567px) {
  id {
    display: none;
    background: red;
  }
}

.animate {
  animation: scroll 2s ease-in infinite;
}

@keyframes scroll {
  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 567px) {
  .h {
    height: 100vh;

    overflow: hidden;

    &__wrapper {
      position: relative;
      padding: 5px;
      .h-value {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        &__main {
          font-size: 16px;
          text-align: left;
          width: 100%;
        }

        &__desc {
          font-size: calc(12.6px / 16px) + rem;
          max-width: 350px;
          margin-right: auto;
          line-height: 1.5;
          text-align: left;
          margin-top: 10px;

          width: 100%;
        }
      }
      // .swiper {
      //   background-color: red;
      // }
      .h-text {
        font-size: calc(40px / 16px) + rem;
        text-align: left;
        margin-top: 0;
        font-weight: 500;
        padding: 0 5px;
        max-width: 100%;
        color: $txt;
        .m-b {
          font-weight: 800;
        }
      }

      .h-bottom {
        .h-desc {
          display: none;
          background-color: green;
        }
        .scroll {
          flex: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-decoration: none;
          display: none;
        }

        .start {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: green;
          flex: -1;
          position: relative;
          margin-top: 10px;
          .start-project {
            font-size: 0.8rem;
            position: absolute;
            left: 10px;
            &:hover {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .id {
    display: none;
  }

  .animate {
    animation: scroll 2s ease-in infinite;
  }
}
@media (min-width: 567px) and (max-width: 667px) {
}
@media (min-width: 667px) and (max-width: 920px) {
}
@media (min-width: 920px) and (max-width: 1180px) {
}
@media (min-width: 1200px) {
}
