//Font color for both hero and description text respectively
$hero-bg-clr: #ffffff;
$hero-dsc-clr: #ffffff;

//Font text-color for both hero and description text respectively
$hero-bg-ft: 6rem;
$hero-dsc-ft: 0.75rem;
$txt: #eca500;
$md-dsk: 1200px;

.h {
  height: 100vh;
  overflow: hidden;
  position: relative;

  // background-image: linear-gradient(
  //   rgba(204, 204, 204, 0),
  //   rgba(209, 209, 209, 0.295)
  // );

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.854);
    backdrop-filter: blur(3px);
    height: 100vh;

    .wide {
      .h-value {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
        color: $txt;
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        &__main {
          font-size: 20px;
          font-weight: 600;
        }

        &__desc {
          font-size: 0.9rem;
          max-width: 400px;
          line-height: 1.5;
          color: rgb(255, 255, 255);
        }
      }

      .first-text {
        h1 {
          max-width: 50%;
        }
      }
      .h-text {
        font-size: 5.6rem;
        text-align: left;
        margin-top: 3rem;
        font-weight: 500;
        text-transform: capitalize;
        color: $txt;
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        .m-b {
          font-weight: 800;
          color: rgb(255, 255, 255);
        }
      }

      .h-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        color: $txt;
        max-width: 75rem;
        margin-left: auto;
        margin-right: auto;
        .h-desc {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;

          text-align: left;
          .h-desc-main {
            font-size: 16px;
            text-align: left;
            width: 100%;
          }

          .h-desc-d {
            font-size: 0.7rem;
            max-width: 400px;
            line-height: 1.5;
            text-align: left;

            margin-right: auto;
          }
        }

        .scroll {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-decoration: none;
          height: 50px;

          .container-wr {
            width: 20px;
            height: 100%;
            border: 2px solid rgb(66, 66, 66);
            border-radius: 20px;
            display: flex;
            justify-content: center;
            padding-top: 10px;

            .move-ic {
              width: 30%;
              height: 60%;
              background-color: rgb(66, 66, 66);
              border-radius: 5px;
            }
          }
        }

        .start {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;

          .start-project {
            border-radius: 50px;
            background-color: #ffffff00;
            text-decoration: none;
            color: rgb(226, 226, 226);
            padding: 1rem 2rem;
            transition: 300ms ease;
            backdrop-filter: blur(3px);
            border: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.157);
            &:hover {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -90;
  bottom: 0;
  opacity: 1;
  filter: grayscale(40%);
  //   filter: saturate(100%);
  //   mix-blend-mode: overlay;
}

.xx {
  animation: kenburns-top 10s ease-out infinite both;
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.6) translateY(-15px);
    transform-origin: top;
  }
}

.id {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40%;
  left: -130px;
  column-gap: 0.8rem;
  transform: rotate(90deg);

  .line {
    width: calc(200px / 16px) + rem;
    background-color: rgb(27, 27, 27);
    height: 0.5px;
  }

  .title {
    font-size: 17px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    font-weight: 500;
  }
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
  filter: opacity(0.2) grayscale(90%);
  mix-blend-mode: overlay;
}
@media (max-width: 567px) {
  id {
    display: none;
    background: red;
  }
}

.animate {
  animation: scroll 2s ease-in infinite;
}

@keyframes scroll {
  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 567px) {
  .first-text {
    width: 100%;
    max-width: 1005;
  }
  .h {
    height: 100vh;

    overflow: hidden;

    &__wrapper {
      padding: 5px;

      .wide {
        background-color: red;
      }
      .h-value {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        &__main {
          font-size: 16px;
          text-align: left;
          width: 100%;
        }

        &__desc {
          font-size: calc(12.6px / 16px) + rem;
          max-width: 350px;
          margin-right: auto;
          line-height: 1.5;
          text-align: left;
          margin-top: 10px;

          width: 100%;
        }
      }
      // .swiper {
      //   background-color: red;
      // }
      .h-text {
        font-size: calc(40px / 16px) + rem;
        text-align: left;
        margin-top: 0;
        font-weight: 500;
        padding: 0 5px;
        max-width: 100%;
        color: $txt;
        .m-b {
          font-weight: 800;
        }
      }

      .h-bottom {
        .h-desc {
          display: none;
          background-color: green;
        }
        .scroll {
          display: none;
        }

        .start {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: green;
          flex: -1;
          position: relative;
          margin-top: 10px;
          .start-project {
            font-size: 0.8rem;
            position: absolute;
            border-radius: 0;
            background-color: rgb(27, 27, 27);
            border: 2px solid rgb(27, 27, 27);
            color: #d1d1d1;
            left: 10px;
            &:hover {
              margin-bottom: 0;
              border-radius: 50px;
              color: white;
            }
          }
        }
      }
      .first-text {
        h1 {
          max-width: 75%;
        }
      }
    }
  }

  .id {
    display: none;
  }

  .animate {
    animation: scroll 2s ease-in infinite;
  }
}
@media (min-width: 567px) and (max-width: 667px) {
  .first-text {
    width: 100% !important;
    max-width: 1005;
  }
}
@media (min-width: 667px) and (max-width: 920px) {
}
@media (min-width: 920px) and (max-width: 1180px) {
}
@media (min-width: 1200px) {
}
