$txt-clr: #f8df52;
$pri-clr: #ececec;
$desc-clr: #c2c2c2;

.contact-us {
  overflow: hidden;
  padding: 0 4rem;
  &__wrapper {
    height: 100%;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 7rem 0;
    .text-header {
      width: 100%;
      text-align: center;
      position: relative;
      .main-text,
      .stroke-text {
        font-size: 6rem;
      }

      .stroke-text {
        position: absolute;
        left: 35%;
        top: 10%;
        font-weight: 500;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba(0, 0, 0, 0.226);
        color: transparent;
      }

      .desc-text {
        font-size: 1rem;
        margin: 4rem 0;
        font-weight: 500;
      }
    }

    .input-fields {
      display: block;

      form {
        max-width: 70%;
        margin: auto;

        [type="text"] {
          display: block;
          width: 100%;
          padding: 1.2rem;
          border: 2px solid rgb(31, 31, 31);
          border-radius: 20px;
          background: transparent;
          font-size: 1rem;
          transition: 300ms ease-in;

          &:focus {
            background: rgb(31, 31, 31);
            color: $pri-clr;
          }
        }

        #message {
          display: block;
          max-width: 100%;
          min-width: 100%;
          padding: 1.2rem;
          border: 2px solid rgb(31, 31, 31);
          border-radius: 25px;
          background: transparent;
          font-size: 1.1rem;
          margin-top: 20px;
        }

        [type="submit"] {
          display: block;
          width: 100%;
          padding: 1.2rem;
          border: 2px solid rgb(31, 31, 31);
          border-radius: 50px;
          background: rgb(31, 31, 31);
          font-size: 1.1rem;
          transition: 300ms ease-in;
          margin-top: 20px;
          color: $pri-clr;
          cursor: pointer;
          transition: 300ms ease;
          &:hover {
            background: $pri-clr;
            color: rgb(31, 31, 31);
          }
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .contact-us {
    padding: 10px;
    &__wrapper {
      width: 100%;
      .text-header {
        .main-text,
        .stroke-text {
          font-size: 55px;
        }

        .stroke-text {
          position: absolute;
          left: 20%;
          top: 10%;
          width: 100%;
          text-align: left;
        }

        .desc-text {
          font-size: 1rem;
          font-weight: 500;
          margin: 4rem 0;
        }
      }

      .input-fields {
        display: block;

        form {
          max-width: 90%;
          margin: auto;
          [type="text"] {
            display: block;
            width: 100%;
            padding: 1rem;
            border: 2px solid rgb(31, 31, 31);
            border-radius: 25px;
            background: transparent;
            font-size: 1rem;
            transition: 300ms ease-in;

            &:focus {
              background: rgb(31, 31, 31);
              color: $pri-clr;
            }
          }

          [type="text"]:nth-child(2) {
            margin-top: 20px;
          }

          #message {
            display: block;
            max-width: 100%;
            min-width: 100%;
            padding: 1.5rem;
            border: 2px solid rgb(31, 31, 31);
            border-radius: 25px;
            background: transparent;
            font-size: 1.1rem;
            margin-top: 20px;
          }

          [type="submit"] {
            display: block;
            width: 100%;
            padding: 1.5rem;
            border: 2px solid rgb(31, 31, 31);
            border-radius: 50px;
            background: rgb(31, 31, 31);
            font-size: 1.1rem;
            transition: 300ms ease-in;

            color: $pri-clr;
            cursor: pointer;
            transition: 300ms ease;
            &:hover {
              background: $pri-clr;
              color: rgb(31, 31, 31);
            }
          }
        }
      }
    }
  }
}
